In [13]:
import numpy as np
import pandas as pd
import re

Read `.txt` files and convert them to pandas DataFrames by year.

In [14]:
# Data from 2012-2013
df_2012 = pd.read_csv('data/2012-2013.txt', delimiter='\t', encoding='latin1')

# Data from 2013-2014
df_2013 = pd.read_csv('data/2013-2014.txt', delimiter='\t')

# Data from 2014-2015
df_2014 = pd.read_csv('data/2014-2015.txt', delimiter='\t')

# Data from 2015-2016
df_2015 = pd.read_csv('data/2015-2016.txt', delimiter='\t', encoding='latin1')

# Data from 2016-2017
df_2016 = pd.read_csv('data/2016-2017.txt', delimiter='\t').iloc[:, :3]

# Data from 2017-2018
df_2017 = pd.read_csv('data/2017-2018.txt', delimiter='\t').iloc[:, :4]

# Data from 2018-2019
df_2018 = pd.read_csv('data/2018-2019.txt', delimiter='\t', encoding='latin1')

# Data from 2019-2020
df_2019 = pd.read_csv('data/2019-2020.txt', delimiter='\t', encoding='latin1')

# Data from 2020-2021
df_2020 = pd.read_csv('data/2020-2021.txt', delimiter='\t', encoding='latin1')

Extract `Organization`, `Type`, `Standing`, and `Allocation` from each DataFrame and rename the columns accordingly.

In [15]:
# Data from 2015-2016 and 2016-2017 have RSO type and standing listed under the
# same column, 'TYPE (YEAR)'. The following functions extract each respective 
# feature in order to make two separate columns.

# Extracts RSO standing.
def extract_standing(label):
    result = re.search(r'[0-9]+', str(label))
    if result:
        return result[0]

# Extracts RSO type.    
def clean_type(label):
    if pd.notna(label):
        return re.search(r'[A-Z]+', label)[0]

In [16]:
df_2012 = df_2012.rename(columns={'Publications':'Organization'})
df_2012 = df_2012[['Organization', 'Type', 'Standing', 'Allocation']]

##############

df_2013 = df_2013.rename(columns={'Publications':'Organization'})
df_2013 = df_2013[['Organization', 'Type', 'Standing', 'Allocation']]

##############

df_2014 = df_2014.rename(columns={'PUBLICATIONS':'Organization', 
                                  'Years of Sponsorship': 'Standing', 
                                  'Final Allocation': 'Allocation'})
df_2014 = df_2014[['Organization', 'Type', 'Standing', 'Allocation']]

##############

df_2015 = df_2015.rename(columns={'GROUP': 'Organization', 
                                 'TYPE (YEAR)': 'Type',
                                 'FINAL ALLOCATION': 'Allocation'})

df_2015.insert(2, 'Standing', np.NaN)
df_2015['Standing'] = df_2015['Type'].apply(extract_standing)

df_2015['Type'] = df_2015['Type'].apply(clean_type)

df_2015 = df_2015[['Organization', 'Type', 'Standing', 'Allocation']]

##############

df_2016 = df_2016.rename(columns={'GROUPS': 'Organization', 
                                 'TYPE (YEAR)': 'Type',
                                 'Proposal': 'Allocation'})

df_2016.insert(2, 'Standing', np.NaN)
df_2016['Standing'] = df_2016['Type'].apply(extract_standing)

df_2016['Type'] = df_2016['Type'].apply(clean_type)

df_2016 = df_2016[['Organization', 'Type', 'Standing', 'Allocation']]

##############

df_2017 = df_2017.rename(columns={'Sponsorship Category': 'Type',
                                 'Year': 'Standing', 
                                 'Initial Allocation': 'Allocation'})

##############

df_2018 = df_2018[['Organization', 'Sponsorship Category','Years', 'Final Allocation']]
df_2018 = df_2018.rename(columns={'Sponsorship Category': 'Type',
                                 'Years': 'Standing', 
                                 'Final Allocation': 'Allocation'})

##############

df_2019 = df_2019[['Organization', 'Sponsorship Category', 'Years', 'Allocation']]
df_2019 = df_2019.rename(columns={'Sponsorship Category': 'Type',
                                 'Years': 'Standing'})

##############

df_2020 = df_2020[['Organization', 'Sponsorship Category', 'Years of Sponsorship', 'Allocation']]
df_2020 = df_2020.rename(columns={'Sponsorship Category': 'Type',
                                 'Years of Sponsorship': 'Standing'})

Insert `Year` column to mark the budget year for each DataFrame.

In [17]:
df_2012.insert(0, 'Year', '2012')
df_2013.insert(0, 'Year', '2013')
df_2014.insert(0, 'Year', '2014')
df_2015.insert(0, 'Year', '2015')
df_2016.insert(0, 'Year', '2016')
df_2017.insert(0, 'Year', '2017')
df_2018.insert(0, 'Year', '2018')
df_2019.insert(0, 'Year', '2019')
df_2020.insert(0, 'Year', '2020')

Compile all the DataFrames into one, `all_data`.

In [18]:
all_yrs = [df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020]
all_data = pd.concat(all_yrs, ignore_index=True, sort=False)
all_data

,Year,Organization,Type,Standing,Allocation
0,2012,{m}aganda magazine,PUB,23,"$1,592.02"
1,2012,Al-Bayan,PUB,12,"$1,300.00"
2,2012,Alternative Breaks Publication Group,PUB,10,$891.07
3,2012,BARE Magazine,PUB,6,"$1,250.00"
4,2012,Berkeley Fiction Review,PUB,29,"$1,036.99"
...,...,...,...,...,...
4680,2020,Elections Council - Chief Auditor Stipend,ELCT,NaN,$350
4681,2020,Elections Council - Prosecutor Stipend,ELCT,NaN,$300
4682,2020,Elections Operations,ELCT,NaN,"$4,500"
4683,2020,D&O Insurance,GEN,NaN,"$2,000"
4684,2020,GL Insurance,GEN,NaN,"$18,000"

Export `all_data` as a `.csv` file.

In [19]:
all_data.to_csv('all_data')