In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
rso_data = pd.read_csv('C:\\Users\\scher\\school\\senior-thesis\\data\\rso_data.txt', index_col=0).drop(columns='Type')
rso_data['Standing'].unique()

array([ 23,  12,  10,   6,  29,  18,   1,  13,   3,  15,  16,   2,  17,
         8,   4,  11,   5,  27,  14,  35,   9,  26,  64,  38,   7,  20,
        21,  24,  34,  31,  22,  30, 111,  32,  28,  45,  41,  19,  63,
        36,  39,  25, 113,  33,  65,  46,  42,  37,  40, 114,  66,  47,
        43, 115,  67,  48,   0, 116,  49,  69,  85, 117,  70,  86, 118,
        50,  71,  87, 119,  51,  72,  88, 120,  52], dtype=int64)

In [19]:
rso_data[(rso_data['Standing'] > 50) & (rso_data['Year'] == 2019)]

,Year,Organization,Designation,Standing,Allocation
3013,2019,Cal Hiking and Outdoor Society,Recreational RSO,71,5000.0
3088,2019,Friends of the Co-ops,Cultural & Identity/Cultural & Ethnic RSO,87,10000.0
3265,2019,UC Rally Committee,Service RSO,119,40000.0
3383,2019,Queer Alliance & Resource Center,Cultural & Identity/LGBTQ+ RSO,51,40000.0

# Normalization

In [4]:
norm_rso_data = rso_data.copy(deep=True)

## Normalizing values by year

In [5]:
def y_norm(data, row):
    year = row[['Year']].values[0]
    alloc = row[['Allocation']].values[0]
    
    year_mean = np.mean(data[data['Year'] == year]['Allocation'])
    year_std = np.std(data[data['Year'] == year]['Allocation'])
                      
    return (alloc - year_mean) / year_std

In [6]:
norm_rso_data['norm_by_y'] = norm_rso_data.apply(lambda r: y_norm(rso_data, r), axis=1)
norm_rso_data

,Year,Organization,Designation,Standing,Allocation,norm_by_y
0,2012,maganda magazine,Publications RSO,23,1592.02,-0.008281
1,2012,Threads,Publications RSO,12,1300.00,-0.070396
2,2012,Alternative Breaks,Service RSO,10,891.07,-0.157379
3,2012,BARE Magazine,Publications RSO,6,1250.00,-0.081032
4,2012,Berkeley Fiction Review,Publications RSO,29,1036.99,-0.126341
...,...,...,...,...,...,...
3874,2020,Volunteer Health Interpreters Organization,Health & Wellness RSO,15,4300.00,0.417203
3875,2020,Volunteer Income Tax Assistance Program,Service RSO,8,480.00,-0.196592
3876,2020,Volunteers Around the World at Berkeley,Service RSO,7,250.00,-0.233549
3877,2020,Wonderworks,Service RSO,10,0.00,-0.273719
3878,2020,You Mean More,Health & Wellness RSO,9,1200.00,-0.080903

## Normalizing values by year and designation

In [7]:
def yd_norm(data, row):
    year = row[['Year']].values[0]
    desig = row[['Designation']].values[0]
    alloc = row[['Allocation']].values[0]
    
    year_mean = np.mean(data[(data['Year'] == year) 
                             & (data['Designation'] == desig)]
                        ['Allocation'])
    year_std = np.std(data[data['Year'] == year]['Allocation'])
                      
    return (alloc - year_mean) / year_std

In [9]:
norm_rso_data['norm_by_yd'] = norm_rso_data.apply(lambda r: yd_norm(rso_data, r), axis=1)
norm_rso_data

,Year,Organization,Designation,Standing,Allocation,norm_by_y,norm_by_yd
0,2012,maganda magazine,Publications RSO,23,1592.02,-0.008281,0.036367
1,2012,Threads,Publications RSO,12,1300.00,-0.070396,-0.025748
2,2012,Alternative Breaks,Service RSO,10,891.07,-0.157379,-0.181246
3,2012,BARE Magazine,Publications RSO,6,1250.00,-0.081032,-0.036383
4,2012,Berkeley Fiction Review,Publications RSO,29,1036.99,-0.126341,-0.081692
...,...,...,...,...,...,...,...
3874,2020,Volunteer Health Interpreters Organization,Health & Wellness RSO,15,4300.00,0.417203,0.413642
3875,2020,Volunteer Income Tax Assistance Program,Service RSO,8,480.00,-0.196592,-0.293456
3876,2020,Volunteers Around the World at Berkeley,Service RSO,7,250.00,-0.233549,-0.330412
3877,2020,Wonderworks,Service RSO,10,0.00,-0.273719,-0.370582
3878,2020,You Mean More,Health & Wellness RSO,9,1200.00,-0.080903,-0.084464

## Normalize values by year and standing

In [10]:
def ys_norm(data, row):
    year = row[['Year']].values[0]
    standing = row[['Standing']].values[0]
    alloc = row[['Allocation']].values[0]
    
    year_mean = np.mean(data[(data['Year'] == year) 
                             & (data['Standing'] == standing)]
                        ['Allocation'])
    year_std = np.std(data[data['Year'] == year]['Allocation'])
                      
    return (alloc - year_mean) / year_std

In [11]:
norm_rso_data['norm_by_ys'] = norm_rso_data.apply(lambda r: ys_norm(rso_data, r), axis=1)
norm_rso_data

,Year,Organization,Designation,Standing,Allocation,norm_by_y,norm_by_yd,norm_by_ys
0,2012,maganda magazine,Publications RSO,23,1592.02,-0.008281,0.036367,-0.071597
1,2012,Threads,Publications RSO,12,1300.00,-0.070396,-0.025748,-0.042629
2,2012,Alternative Breaks,Service RSO,10,891.07,-0.157379,-0.181246,0.020099
3,2012,BARE Magazine,Publications RSO,6,1250.00,-0.081032,-0.036383,0.123851
4,2012,Berkeley Fiction Review,Publications RSO,29,1036.99,-0.126341,-0.081692,-0.264695
...,...,...,...,...,...,...,...,...
3874,2020,Volunteer Health Interpreters Organization,Health & Wellness RSO,15,4300.00,0.417203,0.413642,0.171043
3875,2020,Volunteer Income Tax Assistance Program,Service RSO,8,480.00,-0.196592,-0.293456,-0.055059
3876,2020,Volunteers Around the World at Berkeley,Service RSO,7,250.00,-0.233549,-0.330412,-0.107934
3877,2020,Wonderworks,Service RSO,10,0.00,-0.273719,-0.370582,-0.284898
3878,2020,You Mean More,Health & Wellness RSO,9,1200.00,-0.080903,-0.084464,0.045908

## Normalize values by year, designation, and standing

In [12]:
def yds_norm(data, row):
    year = row[['Year']].values[0]
    desig = row[['Designation']].values[0]
    standing = row[['Standing']].values[0]
    alloc = row[['Allocation']].values[0]
    
    year_mean = np.mean(data[(data['Year'] == year) 
                             & (data['Designation'] == desig) 
                             & (data['Standing'] == standing)]
                        ['Allocation'])
    year_std = np.std(data[data['Year'] == year]['Allocation'])
                      
    return (alloc - year_mean) / year_std

In [13]:
norm_rso_data['norm_by_yds'] = norm_rso_data.apply(lambda r: yds_norm(rso_data, r), axis=1)
norm_rso_data

,Year,Organization,Designation,Standing,Allocation,norm_by_y,norm_by_yd,norm_by_ys,norm_by_yds
0,2012,maganda magazine,Publications RSO,23,1592.02,-0.008281,0.036367,-0.071597,0.000000
1,2012,Threads,Publications RSO,12,1300.00,-0.070396,-0.025748,-0.042629,-0.318318
2,2012,Alternative Breaks,Service RSO,10,891.07,-0.157379,-0.181246,0.020099,-0.033129
3,2012,BARE Magazine,Publications RSO,6,1250.00,-0.081032,-0.036383,0.123851,0.000000
4,2012,Berkeley Fiction Review,Publications RSO,29,1036.99,-0.126341,-0.081692,-0.264695,0.000000
...,...,...,...,...,...,...,...,...,...
3874,2020,Volunteer Health Interpreters Organization,Health & Wellness RSO,15,4300.00,0.417203,0.413642,0.171043,0.000000
3875,2020,Volunteer Income Tax Assistance Program,Service RSO,8,480.00,-0.196592,-0.293456,-0.055059,-0.013084
3876,2020,Volunteers Around the World at Berkeley,Service RSO,7,250.00,-0.233549,-0.330412,-0.107934,-0.020085
3877,2020,Wonderworks,Service RSO,10,0.00,-0.273719,-0.370582,-0.284898,-0.103103
3878,2020,You Mean More,Health & Wellness RSO,9,1200.00,-0.080903,-0.084464,0.045908,0.000000